/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "Gilroy";
  src: url("../font/SVN-Gilroy Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/SVN-Gilroy Thin Italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/SVN-Gilroy Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/SVN-Gilroy Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/SVN-Gilroy Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/SVN-Gilroy Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/SVN-Gilroy Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/SVN-Gilroy Medium Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/SVN-Gilroy SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/SVN-Gilroy SemiBold Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/SVN-Gilroy Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/SVN-Gilroy Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/SVN-Gilroy XBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/SVN-Gilroy XBold Italic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/SVN-Gilroy Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/SVN-Gilroy Heavy Italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
:root {
  --primary-color: #00a651;
  --secondary-color: #333333;
  --text-color-grey: #979797;
  --bg-color-grey: #f4f4f4;
  --cicle-color: #d6d6d6;
}

/* reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  max-width: 1920px;
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: "Gilroy", sans-serif;
}
.wrap-content {
  max-width: 1200px;
  margin: 0 auto;
}
/* header */
.header-layout {
  display: flex;
  align-items: center;
}
.header-right {
  width: 100%;
}
.header-right-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 14px 0 14px 50px;
}
.header-tel-box {
  display: flex;
}
.header-search-input {
  width: 419px;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  color: var(--text-color-grey);
  background-color: var(--bg-color-grey);
  font-weight: 500;
  padding: 0 25px;
}
.cart-icon {
  padding: 11px;
  position: relative;
}
.number-of-cart {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: -5px;
  right: -7px;
  background-color: var(--primary-color);
  padding: 3px 5px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
}
.icon-call {
  padding: 9px;
  border: 1px solid var(--cicle-color);
  border-radius: 50%;
}
.icon-call img {
  width: 20px;
  height: 20px;
}
.header-hotline-title {
  color: #929292;
  font-size: 14px;
  font-weight: 600;
}
.header-hotline-content {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}
.menu-box {
  border-top-left-radius: 200px;
  padding: 18px 0 21px 40px;
  background-image: linear-gradient(to bottom, #00a651, #017439);
  position: relative;
}
.menu-box::before {
  content: "";
  width: calc((100vw - 1230px + 30px) / 2);
  left: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: -1;
  background-image: linear-gradient(to bottom, #00a651, #017439);
}
.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  justify-content: space-between;
  padding-top: 2px;
}
.mucsanpham {
  position: relative;
}
.cap1 {
  position: absolute;
  width: 250%;
  z-index: 2;
  left: -10px;
  top: 180%;
  background-image: linear-gradient(to bottom, #00a651, #017439);
  padding: 5px 0;
}
.cap1 ul {
  list-style: none;
  padding: 0;
}
.dropdown-item a {
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 15px;
}
.dropdown-item a:hover {
  background-color: #017439;
}
.mucsanpham::after {
  content: "";
  position: absolute;
  background-image: url(../images/page/hot-icon.svg);
  width: 21px;
  height: 15px;
  top: -12px;
}
.menu-item:not(:first-child) {
  padding-top: 4px;
}
.menu-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.menu-link:hover {
  color: yellow;
}
.menu-link.active {
  color: yellow !important;
}
.search-container {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 50px;
  padding: 5px 7px 5px 20px;
  /* width: 500px; */
}
.form-search {
  width: 500px;
}
@media (max-width: 1200px) {
  .form-search {
    width: 400px;
  }
}
.search-container input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  flex-grow: 1;
  color: #979797;
  font-weight: 500;
}
.search-container input::placeholder {
  color: #979797;
  font-weight: 500;
}
.search-container button {
  background-color: #00a651;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
}

.search-container button:hover {
  background-color: #45a049;
}

.search-container button i {
  margin-right: 5px;
}
.tieuchi-component {
  padding: 48px 0;
}
.tieuchi-item-box {
  display: flex !important;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
  width: 282px;
  border-radius: 10px;
  padding: 23px 0;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 166, 81, 0.3);
  margin: 15px;
}
.tieuchi-item-image {
  width: 64px;
  height: 64px;
}
.tieuchi-item-box-info {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.tieuchi-item-title {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
}
.tieuchi-item-desc {
  font-size: 14px;
  color: #6d6d6d;
  font-weight: 500;
  font-style: italic;
}
/* giới thiệu */
.gioithieu-component {
  padding-top: 19px;
}
.gioithieu-box-info {
  padding-top: 12px;
  margin-bottom: 77px;
}
.text-doinetne {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  color: #00a651;
  position: relative;
  margin-bottom: 19px;
}
.text-doinetne::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  left: 120px;
  top: 50%;
  transform: translateY(-50%);
  background-image: linear-gradient(to right, #00a651, #00a65000);
}
.gioithieu-company_name {
  width: 75%;
  font-size: 30px;
  font-weight: bold;
  color: #333333;
}
.gioithieu-desc p {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  color: #777777;
  margin-bottom: 40px;
}
.gioithieu-desc-bottom {
  margin-bottom: 48px;
}
.gioithieu-desc-bottom p {
  margin-bottom: 28px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  position: relative;
  padding-left: 30px;
}
.gioithieu-desc-bottom p::before {
  content: "";
  position: absolute;
  background-image: url(../images/page/check-icon.svg);
  width: 18px;
  height: 16px;
  left: 0;
}
.btn-timhieuthem {
  width: 230px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 0 45px;
  color: #fff;
  background-image: linear-gradient(to bottom, #00a651, #129047);
  border-radius: 25px;
}
.btn-timhieuthem:hover {
  color: #fff;
}
.btn-timhieuthem span {
  padding-top: 2px;
  font-weight: 700;
  font-size: 16px;
}
.icon-phone {
  padding: 10px;
  border-radius: 50%;
  background-color: #099b4c;
}
.gioithieu-box-image {
  position: relative;
}
.gioithieu-box-image::before {
  content: "";
  position: absolute;
  width: 293px;
  height: 276px;
  top: 0;
  left: 0;
  border: 5px solid #00a651;
  z-index: -1;
}
.gioithieu-box-image::after {
  content: "";
  position: absolute;
  width: 293px;
  height: 276px;
  right: 0;
  bottom: 0;
  border: 5px solid #00a651;
  z-index: -1;
}
.title-component {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-component span {
  font-size: 32px;
  color: #333333;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 35px;
  padding-top: 4px;
}
/* danh mục sản phẩm */
.danhmuc-component {
  padding-top: 41px;
}
.danhmuc-list {
  padding: 50px 0;
}
.danhmuc-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0;
}
.danhmuc-box-image {
  padding: 15px;
  width: 89px;
  height: 89px;
  border-radius: 50%;
  background-color: #f9f9f9;
}
.danhmuc-image {
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}
.danhmuc-image:hover {
  transform: scale(1.2);
}
.danhmuc-item-title {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}
.sanphamnoibat-component {
  padding-top: 20px;
}
.title-desc-component {
  padding-top: 23px;
  color: #6d6d6d;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
  margin: 0 auto;
  width: 75%;
}
.sanpham-list {
  padding: 45px 0 !important;
}
.sanpham-item {
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}
.sanpham-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sanpham-item-image-box {
  /* padding: 9px; */
  border: 1px solid #d9d9d9;
  border-radius: 7px;
}
.sanpham-item-image {
  transition: transform 0.3s ease-in-out;
}
.sanpham-item-image:hover {
  transform: scale(1.1);
}
.sanpham-sale {
  position: relative;
}
.sanpham-sale::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -15px;
  width: 57px;
  height: 35px;
  background-image: url(../images/page/icon-sanpham-sale.svg);
}
.sanpham-item-title {
  margin-top: 16px;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.giagoc {
  font-weight: 600;
  color: #979797;
  font-style: italic;
  text-decoration: line-through;
}
.discount {
  font-size: 20px;
  color: #ed1c24;
  font-weight: 700;
  margin-left: 10px;
}
/* Dự án tiêu biểu */
.duan-item-box {
  padding: 0 10px;
}
.duan-item-component {
  position: relative;
}
.duan-item-link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.duan-item-link:hover {
  color: yellow;
}
.duan-item-image {
  width: 100%;
  height: 300px;
}
.duan-item-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}
.duan-item-title {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.duan-item-date {
  color: #fff;
  font-weight: 500;
}
/* Tin tức */
.tintuc-component {
  padding-top: 40px;
}
.tintuc-item-row {
  margin-bottom: 28px;
}
.tintuc-item-title {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
}
.tintuc-item-desc {
  font-weight: 500;
  color: #898989;
  font-size: 14px;
}
.tintuc-item-date {
  font-weight: 700;
  font-size: 14px;
  color: #00a651;
  padding-top: 2px;
  margin-left: 7px;
}
/* Đăng ký nhận tin */
.dangkynhantin-component {
  padding: 33px 0;
  background-image: linear-gradient(to bottom, #00a651, #129047);
}
.text-delaithongtin {
  font-weight: 700;
  color: #fff;
  font-size: 24px;
  padding-top: 10px;
  margin-left: 10px;
}
.input-dangkynhantin {
  font-size: 16px;
  font-weight: 500;
  color: #8f8f8f;
  padding: 21px 27px;
}
.icon-send {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  cursor: pointer;
  padding: 10px;
  outline: none;
}
.footer-component {
  background-image: url(../images/page/bg-footer.png);
  padding-top: 40px;
}
.footer-content {
  padding: 40px 0;
}
.footer-title {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  margin-bottom: 75px;
}
.footer-title::after {
  content: "";
  position: absolute;
  width: 112px;
  height: 3px;
  bottom: -30px;
  left: 0;
  background-image: linear-gradient(to right, #00a651, #00a65000);
}
.info-list {
  list-style: none;
  padding: 0;
}
.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.item-footer-span {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}
.cirle-icon-footer {
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
}
/* footer chính sách */
.chinhsach-list {
  list-style: none;
  padding: 0;
}
.chinhsach-item {
  margin-bottom: 15px;
}
.chinhsach-item a {
  text-decoration: none;
  color: #fff;
  font-style: 14px;
  font-weight: 500;
}
.chinhsach-item a:hover {
  color: yellow;
}
.copyright {
  padding: 18px 0;
  background-image: linear-gradient(to bottom, #00a651, #036131);
}
.copyright p {
  margin-bottom: 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.google-map iframe {
  width: 100%;
}
#header-mobile {
  background-image: linear-gradient(to bottom, #00a651, #017439);
}
.tintuc-component-content {
  padding: 54px 0;
}
@media (max-width: 768px) {
  .search-container {
    width: 100% !important;
  }
  .header-right-top {
    padding: 14px 10px;
  }
  .gioithieu-company_name {
    width: 100%;
  }
  .btn-timhieuthem {
    width: 165px;
    padding: 0 15px;
  }
  .title-component span {
    font-size: 18px;
    padding: 0 10px;
    padding-top: 4px;
  }
  .title-component img {
    width: 50px;
    height: 4px;
  }
  .tintuc-item-title {
    font-size: 15px;
  }
  .tintuc-item-desc {
    font-size: 12px;
  }
  .tintuc-item-date {
    font-size: 12px;
  }
  .text-delaithongtin {
    font-size: 16px;
    padding-top: 5px;
  }
  .img-nhantin {
    width: 20px;
    height: 20px;
  }
  .input-dangkynhantin {
    padding: 10px 20px;
  }
  .footer-component {
    padding: 40px 20px;
  }
  /* .tintuc-component {
    padding-left: 10px;
    padding-right: 10px;
  } */
  .tintuc-component-content {
    padding: 20px 10px;
  }
  .title-desc-component {
    width: 100%;
  }
  .slide-duan-info-desc {
    width: 80%;
  }
  .tieuchi-item-box {
    padding: 10px 0;
    width: 260px;
  }
  .tieuchi-component {
    padding: 15px 0;
  }
  .gioithieu-desc p {
    text-align: justify;
  }
  .youtube {
    height: 300px !important;
  }
}
.custom-theme-mobile {
  background-image: linear-gradient(to bottom, #00a651, #017439);
}
.menu-mobile {
  list-style: none;
  padding: 0;
  line-height: 2;
}
.menu-mobile a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.yellow {
  color: yellow !important;
}
.bg-footer-mobile {
  background-image: linear-gradient(to bottom, #00a651, #017439);
}
.youtube {
  height: 100%;
}
.lienhe-content p {
  font-size: 18px;
  line-height: 2;
}
.new-content {
  font-size: 16px;
  line-height: 1.8;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

.logo-image {
  animation: blink 1s infinite;
}
